@media (max-width: 739px) {

    .hide-on-mobile {
        display: none;
    }
    .place-item:nth-child(2) {
        margin: 16px 0;
    }
    .contact-input__email {
        margin-top: 10px;
    }
    .header__list-mobile {
        display: block;
        opacity: 0;
        transform: translateY(-710%);
        width: 100%;
        transition: all linear 0.3s;
    }
    .header__item {
        float: none;
        background-color: black;
    }
    .header__bars-mobile {
        display: block;
        padding: 12px 24px;
        color: white;
    }
    .checkbox:checked ~ .header__list-mobile {
        opacity: 1;
        transform: translateY(0%);
    }
}